
<div id="wrapper">
  <my-main></my-main>
  <div id="page-content-wrapper" class="col-md-10 col-md-offset-2">
    <div class="container-fluid">
      <div class="row">
        <div id="card-lista" ng-repeat=" produto in ListarProduto.produtos" ng-class="Main.usuarioLogado ? 'card-lista' : 'card-main'" class="col-md-2 col-xs-6 col-md-offset-1 card">
          <div class="container-img"><img ng-src="{{produto.imagemUrl}}" alt="imagem"/></div>
          <div class="texto-produto">
            <h4 id="nome-produto">{{produto.nome}}</h4><a ng-href="/produtos/{{produto.id}}/comentarios" class="pull-right">{{produto.qtdeComentarios}}<i aria-hidden="true" class="fa fa-comments fa-2x"></i></a>
            <hr/>
            <p>Descrição: {{produto.descricao}}</p>
            <p>Valor: {{produto.valor | currency}}</p>
          </div>
          <div ng-show="Main.usuarioLogado" class="main-view">
            <p>Usuário: {{produto.usuario.nome}}</p>
            <div class="operacoes text-center"><a href="#" ng-controller="DeletarProdutoController as DP" ng-click="DP.deletar(produto.id)"><span id="apagar" class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" ng-click="ListarProduto.produtoParaEditar(produto.id)"><span id="editar" class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></a><a ng-href="/produtos/{{produto.id}}/comentarios"><span id="comentar" class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-comments fa-stack-1x fa-inverse"></i></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>