
<div id="wrapper">
  <my-main></my-main>
  <div ng-controller="ListarProdutoController as ListarProduto" id="page-content-wrapper" class="col-md-10 col-md-offset-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="jumbotron text-center">Meus Produtos</h1>
        </div>
      </div>
      <div id="busca-row" class="row">
        <div class="col-md-6 col-md-offset-1 input-form">
          <input id="busca" ng-model="busca" placeholder="Digite aqui o a informação do produto que deseja buscar" class="form-control"/>
        </div>
        <div id="selects" class="col-md-4 col">
          <label for="ordenacao">Ordenar por:</label>
          <select name="predicate" ng-model="ListarProduto.predicate">
            <option value="nome">Nome</option>
            <option value="valor">Valor</option>
          </select>
          <select name="reverse" ng-model="ListarProduto.reverse">
            <option>Ascendente</option>
            <option value="value">Descendente</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div id="card-main" ng-repeat="(key, produto) in UsuarioProdutos.produtos" class="col-md-2 col-xs-6 col-md-offset-1 card">
          <div class="container-img"><img ng-src="{{produto.imagemUrl}}" alt="Card image cap"/></div>
          <div class="texto-produto">
            <h4>{{produto.nome}}</h4>
            <hr/>
            <p>Valor: {{produto.valor | currency}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>